@charset "UTF-8";
ul.example01-03 { 
  list-style: none;
  padding-left: 0;
  
}
ul.example01-02 li {
  width: 200px;
  background: #877666;
  padding: 8px 20px;
  margin-bottom: 5px;
  
}
ul.example01-02 li a { 
  display: block;
  height: 100%;
  color:#fff; 
}
ul{
	padding-left: 0px;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(140deg, 
      #ffffff, 
      #0028b960 40%, 
      #00f3ff60 60%, 
      #ff0000), 
    url("https://img.huffingtonpost.com/asset/5cbfdb7d1f000053017f33be.jpeg?cache=xGrFL9AqNU&ops=scalefit_720_noupscale");
  background-repeat: no-repeat;
  background-position: 50%;
  animation: move 20s infinite both;
}

@keyframes move{
  0% {
    background-size:100% auto;
  }
  50% {
    background-size:140% auto;
  }
  100% {
    background-size:100% auto;
  }
}